/* styles/layout.css */

/* Global layout + base font */
body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* Shared box model for layout regions */
.common {
    border: solid 2px white;
    position: absolute;
}

/* Header at the top */
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    padding: 10px;
}

/* Left navigation menu */
.leftmenu {
    top: 114px;
    left: 5px;
    width: 120px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
    border-right: solid 1px #555555;
}

/* Main content area in the center */
.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-top: 50px;
    padding-right: 5px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;
}

/* Footer fixed to bottom */
.footer {
    position: fixed;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 10px;
    color: #999999;
    text-align: center;
    padding-top: 10px;
    background-color: #ffffff;
}

/* Header nav text to the right */
.subheader {
    float: right;
    margin-top: 25px;
    font-size: 14px;
}